In [1]:
import pandas as pd
import numpy as np
import xgboost as xgb

from copy import copy
import datetime
import pickle

In [2]:
taxi_test = pd.read_csv('data/test.csv')

In [3]:
model = pickle.load(open('xgb_model.sav', 'rb'))

[13:06:59] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.0.0/src/objective/regression_obj.cu:167: reg:linear is now deprecated in favor of reg:squarederror.

In [4]:
#Sample date

date_list = [3, 23, 12]

hour = int(date_list[2])
month = int(date_list[1])
day = int(date_list[0])

my_date = datetime.date(month, day, hour)

In [5]:
my_date

datetime.date(23, 3, 12)

In [6]:
taxi_test.head(10)[['pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude']]

   pickup_longitude  pickup_latitude  dropoff_longitude  dropoff_latitude
0        -73.988129        40.732029         -73.990173         40.756680
1        -73.964203        40.679993         -73.959808         40.655403
2        -73.997437        40.737583         -73.986160         40.729523
3        -73.956070        40.771900         -73.986427         40.730469
4        -73.970215        40.761475         -73.961510         40.755890
5        -73.991302        40.749798         -73.980515         40.786549
6        -73.978310        40.741550         -73.952072         40.717003
7        -74.012711        40.701527         -73.986481         40.719509
8        -73.992332        40.730511         -73.875618         40.875214
9        -73.993179        40.748760         -73.979309         40.761311